.App {
  text-align: center;
}


.form {
  display: flex;
  flex-flow: column nowrap;
  width: 40%;
  margin: 0 auto;
/*  box-shadow: 0 0 10px #ccc;
*/  border: 1px solid black;
  padding: 30px;
}

.buttons_group{
  width: 100%;
}


.submit.button {
  margin-right: 5px;
}
