.App {
  text-align: center;
}

/*body {
  height: 100%;
}*/

html, body {
  position: relative;
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  overflow: auto;
}

.canvas {
width: 100%;
    height: auto;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  width: 40%;
  margin: 0 auto;
  padding: 30px;
}

.form-user-bookings {
  display: flex;
  background-color: #2e4b4f;
  flex-flow: column nowrap;
  width: 40%;
  padding: 30px;
  justify-content: center;
  border: 1px solid white;
  border-radius: 10px;
}

.header {
  color: white;
}


.landing-page-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-content: center;
  grid-gap: 20px;
  width: 80%;
  margin: auto;
}


.all-launches {
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: center;
  background-color: #273f43;
  cursor: pointer;
  border-radius: 0px;
  height: 120px;
  padding: 10px;
  box-shadow: 0 0 10px #35575b;
}

.image {
  width: 30%;
  padding-right: 20px;
  height: 100%;
}

.mission_name {
  color: #e5e5e5;
}

.buttons_group{
  width: 100%;
}



.submit.button {
  margin-right: 5px;

  background-color: #55c4b9;
  height: 6vh;
  border-radius: 25px;
  width: 30%;
}

.reset.button {
  border-radius: 25px;
  width: 30%;
  height: 6vh;
}

.wrapper{
  overflow: hidden;
}
.landing-page{
    position:absolute; top:0px; left:0px;
    width: 100%;
    height: 100%;
}

.height-container {
  position:absolute; top:40px; left:0px;
    width: 100%;
    height: 100%;
}
.get-started {
  position:absolute; top:0px; left:0px;
    width: 100%;
    height: 100%;
}

.form-started {
  display: flex;
  flex-flow: column nowrap;
  background-color: #2e4b4f;
  width: 40%;
  margin: auto;
  padding: 30px;
  height: 600px;
}

.form {
  display: flex;
  background-color: #2e4b4f;
  flex-flow: column nowrap;
  width: 40%;
  padding: 30px;
  justify-content: center;
  border: 1px solid white;
  border-radius: 10px;
/*  height: 100%;
*/}

.user-bookings-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.form-user-bookings {
  display: flex;
  margin: auto;
  background-color: #2e4b4f;
  padding: 30px;
  justify-content: center;
  border: 1px solid white;
  border-radius: 10px;
  width: 80%;
}

.user-bookings-text {
  color: white;
}

.form label[data-shrink]{
  color: white;
}

.form input[value]{
  color: white;
}

.form input[aria-invalid]{
  border-bottom: 2px solid white;
}

.form input[aria-invalid]::after{
  border-bottom: 2px solid white;
}

.form div::after{
  border-bottom: 2px solid white;
}



.search.app {
  background-color: white;
}

.password-check {
  color: #ff6666;
}

.login.button {
  color: white;
  width: 50%;
/*  border: 1px solid white;
*/  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.login.button.active {
  background-color: #55c4b9;
}

.login.button.inactive {
  background-color: #334459;
}

.signup.button {
  color: white;
  width: 50%;
/*  border: 1px solid white;
*/  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.signup.button.active {
  background-color: #55c4b9;
}

.signup.button.inactive {
  background-color: #334459;
}



.form-button-container {
  display: flex;
  flex-flow: row;
  margin-left: auto;
  margin-right: 20px;
  width: 20%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.space-explorer-text {
  color: white;
  margin-left: 20px;
  align-self: flex-start;
  cursor: pointer;
}


.signup-or-login {
  font-weight: normal;
  color: white;
  font-size: 30px;
}

.submit-button-container {
  display: flex;
  flex-flow: row;
}
.home-trip-container {
  display: flex;
  flex-flow: row;
}

.nav-bar{
  display: flex;
  flex-flow: row;
  background-color: #2e4b4f;
}

.my-trips {
  position: absolute;             /* new */
  left: 50%;
  transform: translateX(-50%);
  color: white;
  cursor: pointer;
}




.member-status {
  color: #5a6779;
  border-bottom: 1px solid #55c4b9;
  padding-bottom: 3px;
  margin-left: 30px;
  cursor: pointer;
}

.member-status:hover {
  color: black;
}

.buy.item.button{
  background-color: #55c4b9;
  border-radius: 25px;
}

.image-title-container {
  margin: 0px;
  width: 40%;
  padding: 30px;
  background-color: #273f43;

}

.launch-details-container {
  margin: 0px;
  width: 60%;
  padding: 30px;
  background-color: #35575b;

}

.rocket-type-text {
  text-align: left;
  color: white;
}

.site-name-text {
  text-align: left;
  color: white;
}
.details-headers {
  color: white;
}

.mission-headers {
  text-align: left;
  color: white;
}

.details-text {
  text-align: left;
  color: white;
}
.form-details-container {
  display: flex;
  flex-flow: column nowrap;
  background-color: #2e4b4f;
  width: 50%;
  margin: auto;
  margin-top: 100px;
  box-shadow: 0 0 5px #35575b;

}

.form-details {
  display: flex;
  flex-flow: row nowrap;
}

.home-form-details {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 100px;

}

.image-details {
  width: 100%;
  height: 70%;
}

.pagination-conatiner {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: #273f43;
  margin: auto;
  margin-top: 30px;
  border-radius: 3px;
  box-shadow: 0 0 10px #35575b;
  height: 60px;
}

.pagination-details-container {
  background-color: #2e4b4f;
  margin: auto;
}

.page-container {
  padding: 10px;
  color: #e5e5e5;
  cursor: pointer;
  width: 50%;
  text-align: center;
}

.page-container.active {
  color: #e5e5e5;
  cursor: pointer;
  width: 50%;
  text-align: center;
  border: 2px solid #e5e5e5;
  font-weight: bold;
}

.next {
  color: #e5e5e5;
  padding: 20px;
  cursor: pointer;
  width: 3%;
  text-align: center;
}

.back {
  color: #e5e5e5;
  padding: 20px;
  cursor: pointer;
  width: 3%;
  text-align: center;
}

.start{
  color: #e5e5e5;
  padding: 20px;
  cursor: pointer;
  width: 3%;
  text-align: center;
}

.end {
  color: #e5e5e5;
  padding: 20px;
  cursor: pointer;
  width: 3%;
  text-align: center;
}










