.App {
  text-align: center;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  width: 40%;
  margin: 0 auto;
/*  box-shadow: 0 0 10px #ccc;
*/  border: 1px solid black;
  padding: 30px;
}

.buttons_group{
  width: 100%;
}

canvas {
   overflow: hidden;
}

.submit.button {
  margin-right: 5px;
}

.all-launches {
  cursor: pointer;
  border: 1px solid black;
  display: flex;
  flex-flow: column nowrap;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.wrapper{
  overflow: hidden;
}
.canvas,.landing-page{
    position:absolute; top:0px; left:0px;
    width: 100%;
    height: 100%;
}

.get-started {
  position:absolute; top:0px; left:0px;
    width: 100%;
    height: 100%;
}

.form-started {
  display: flex;
  flex-flow: column nowrap;
  background-color: grey;
  width: 40%;
  margin: auto;
/*  box-shadow: 0 0 10px #ccc;
*/  border: 1px solid black;
  padding: 30px;
}

.form {
  display: flex;
    background-color: grey;

  flex-flow: column nowrap;
  width: 40%;
  margin: 0 auto;
/*  box-shadow: 0 0 10px #ccc;
*/  border: 1px solid black;
  padding: 30px;
}



.search.app {
  background-color: white;
}